body {
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #FFFAF4; */
  /* background: url("../src/img/background.png"); */
  color: #222222;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;

  /* overflow-x: hidden;
    width: 100%;
    height: 100%;
    --s: 37px;

    --c: #F2EFE5, #F2EFE5 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #E3E1D9;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s)); */
}
.container {
  /* Basic dimensions and centering */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #DDD5CD; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #DDD5CD 25%,
    #D3C9BF 25%,
    #D3C9BF 50%,
    #DDD5CD 50%,
    #DDD5CD 75%,
    #D3C9BF 75%,
    #D3C9BF
  );
  background-size: 40px 40px;

  /* Animation */
  /*animation: move 4s linear infinite;*/
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.app-container {  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebe4da;
  /* background-color: #dbd1c6; */
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.message-container {
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For non-WebKit browsers, makes the scrollbar thinner */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Customizes the scrollbar color */
}

.message-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.message-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Scrollbar thumb color */
  border-radius: 4px; /* Optional: Rounds the corners of the scrollbar thumb */
}

.message-container::-webkit-scrollbar-track {
  background-color: rgba(59, 56, 56, 0.527); /* Scrollbar track color */
}

.message {
  background-color: #F8F0E5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Add this line to allow long messages to wrap */
}


.input-container {
  /* margin-left: 20px;
  display: absolute;
  margin-top: 20px; */
  /* width: 40%;
  position: absolute;
  bottom: 5%;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%); */
  width: 98.5%; /* Update width for responsiveness */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: calc(100% - 40px); Set the width to match the container box */
}

Button {
  padding: 1px 2px;
  background-color: #849ab1dc;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* .Buuton{
  /* padding-top: 5%;
  justify-content: center; */


.prime{
  justify-content: center;
}

/* Authentication UI*/

.auth-container {
  background-color: #f4eee8; /* Light brown shade */
  padding: 20px;
  border-radius: 10px;
  width: 400px; /* Increased width */
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.auth-container h2 {
  color: #8b4513; /* Dark brown for heading */
  margin-bottom: 20px;
}

.auth-container input[type="email"],
.auth-container input[type="text"] {
  width: calc(100% - 85px); /* Adjusted width for text fields */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #8b4513; /* Dark brown border */
  border-radius: 5px;
  background-color: #fff; /* White background */
  color: #2b1607;
}

.auth-container button {
  width: 75px; /* Reduced button width */
  padding: 8px 10px 12px; /* Padding adjusted to lift the button upwards */
  background-color: #8b4513; /* Dark brown button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 11px;  
}

.auth-container button:hover {
  background-color: #654321; /* Darker brown on hover */
}

.auth-container p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input[type="email"],
.input-container input[type="text"] {
  flex: 1;
}

.input-container button {
  margin-left: 10px;
}
