body {
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6e4e4;
  /* background-image: url(ui\src\img\bckg.jpg); */
  color: #333;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.app-container {  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.message-container {
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For non-WebKit browsers, makes the scrollbar thinner */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Customizes the scrollbar color */
}

.message-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.message-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Scrollbar thumb color */
  border-radius: 4px; /* Optional: Rounds the corners of the scrollbar thumb */
}

.message-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Scrollbar track color */
}

.message {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Add this line to allow long messages to wrap */
}


.input-container {
  /* margin-left: 20px;
  display: absolute;
  margin-top: 20px; */
  /* width: 40%;
  position: absolute;
  bottom: 5%;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%); */
  width: 100%; /* Update width for responsiveness */
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: calc(100% - 40px); Set the width to match the container box */
}

button {
  padding: 1px 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* .Buuton{
  /* padding-top: 5%;
  justify-content: center; */


.prime{
  justify-content: center;
}